html, body {
    height: 100%;
    width: 100%;
}

#drop-container {
    text-align: center;
    align-content: center;
    align-items: center;
}

#graph-container {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 30px;
}

#graph-col {
    align-content: center;
}

#data-table-container {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 30px;
}

#data-table-col {
}

#data-table-div{
    overflow-x: auto;
    overflow-y: auto;
    padding: 0px;
}

#drop-container-row {
    padding-top: 50px;
}

#dropZone {
    border: 2px solid #b5b5b5;
    background: #e8e8e8;
    width:  100%;
    height: 150px;
    padding-top: 25px;
    align-self: center;
    text-align: center;
}

#dragAndDropText {
    padding: 0px;
}

#dragAndDropArrow {
    font-size: 30px;
}

#info-row {
    padding-top: 50px;
}

#calculate-btn-row {
    text-align: center;
    align-content: center;
    align-items: center;
    padding-top: 0px;
}

#calculate-btn-col {
    align-content: center;
    text-align: center;
}

#calculate-btn {
    font-size: 25px;
    background-color: #14c718;
    color: white;
    border-radius: 6px;
    border: 0px;
    border-top: none;
    border-bottom: 3px solid #838383;
    display: none;
}

#calculate-btn:focus {
    outline: none !important;
}

#calculate-btn:active {
    outline: none !important;
    background-color: #12b416;
    border-top: 3px solid #ffffff;
    border-bottom: none;
}

#calculate-btn:disabled{
    font-size: 25px;
    background-color: #9b9b9b;
    color: white;
    border-radius: 6px;
    border: 0px;
    border-top: none;
    border-bottom: 3px solid #6a6a6a;
    display: none;
    cursor: not-allowed;
}

#clear-col {
    text-align: center;
}

#clear-btn {
    font-size: 25px;
    background-color: #ef0000;
    color: white;
    border-radius: 6px;
    border: 0px;
    border-top: none;
    border-bottom: 3px solid #838383;
}

#clear-btn:active {
    outline: none !important;
    background-color: #e20000;
    border-top: 3px solid #ffffff;
    border-bottom: none;
}

#clear-btn:focus {
    outline: none !important;
}

.box-right {
    border-right: 1px solid #686868;
}

.data-box {
    width: 25%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {

    text-align: left;
    padding: 8px;
}

tr:nth-child(odd) {
    background-color: #dddddd;
}

.selector {
    background-color: #9b9b9b;
    color: white;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    border-top: none;
    border-bottom: 2px solid #2f2f2f;
}

.selector:focus {
    outline: none !important;
    background-color: #7a7a7a;
    border-top: 2px solid #ffffff;
    border-bottom: none;
}

.selector:disabled {
    background-color: #dfdfdf;
    color: white;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    border-top: none;
    border-bottom: 2px solid #9f9f9f;
    cursor: not-allowed;
}



.model-selector {
    background-color: #9b9b9b;
    color: white;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    border-top: none;
    border-bottom: 2px solid #2f2f2f;
}

.model-selector:focus {
    outline: none !important;
    background-color: #7a7a7a;
    border-top: 2px solid #e3e3e3;
    border-bottom: none;
}

.model-selector:disabled {
    background-color: #dfdfdf;
    color: white;
    border-radius: 4px;
    text-align: center;
    height: 30px;
    border-top: none;
    border-bottom: 2px solid #9f9f9f;
    cursor: not-allowed;
}

#type-row {
    border-bottom: 2px solid #747474;
}

#title-row {
    background-color: white;
}

#filename-display {
    text-align: center;
    font-size: 20px;
}

#filename-display-row {
}

#alert-box-row {
    padding-top: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

#alert-box{
    padding-top: 15px;
    height: 100px;
    outline: 5px solid red;
    display: none;
    text-align: center;
    font-size: 20px;
}

#model-selection-row {
    padding-top: 30px;
    display: none;
}

.model-selection-container {
    background-color: #e3e3e3;
    padding-bottom: 20px;
}

#model-selection-title-row {
}

#model-selection-title-container {
    background-color: #e3e3e3;
    padding-bottom: 20px;
}

#model-selection-title {
    text-align: center;
    font-size: 22px;
}

#model-year-selector {
}

#model-number-selection {
    width: 150px;
}

/***********************************/
rect.bordered {
    stroke: #E6E6E6;
    stroke-width:2px;
}

text.mono {
    font-size: 9pt;
    font-family: Consolas, courier;
    fill: #aaa;
}

text.axis-workweek {
    fill: #000;
}

text.axis-worktime {
    fill: #000;
}






