<div class="table-responsive">
  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">Energy 1</th>
      <th scope="col">Energy 2</th>
      <th scope="col">Energy 3</th>
      <th scope="col">Energy 4</th>
      <th scope="col">Energy 5</th>
      <th scope="col">Energy 6</th>
      <th scope="col">Energy 7</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>21651</td>
      <td>45674</td>
      <td>41245</td>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>1241245</td>
      <td>74332</td>
      <td>8453</td>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
      <td>1241245</td>
      <td>74332</td>
      <td>8453</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
      <td>1241245</td>
      <td>74332</td>
      <td>8453</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
      <td>21651</td>
      <td>45674</td>
      <td>41245</td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>9568458</td>
      <td>457425</td>
      <td>4633747</td>
      <td>1241245</td>
      <td>74332</td>
      <td>8453</td>
    </tr>
    </tbody>
  </table>


      <button type="button" class="btn btn-success btn-lg float-right">CRUNCH</button>


</div>
