<app-table></app-table>

<div class="row" style="text-align: center; padding-top:30px;">
  <div class="col-12">
    <div class="pull-left" style="display: inline-block">
      <app-graph></app-graph>
    </div>
    <div class="pull-right" style="display: inline-block">
      <app-graph></app-graph>
    </div>
  </div>
</div>
<div class="row" style="text-align: center;">
  <div class="col-12">
    <div class="pull-left" style="display: inline-block">
      <app-graph></app-graph>
    </div>
    <div class="pull-right" style="display: inline-block">
      <app-graph></app-graph>
    </div>
  </div>
</div>

